@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1; 
}

.title {
    font-size: 68px;
    margin-bottom: 33px;
    margin-top: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 70%,
        rgba(255, 255, 255, 0) 120%
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text; /* Para WebKit browsers */
    color: transparent;
}

.description {
    font-size: 30px;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
    margin-right: 52px;
    text-align: start;
}

.resumetBtn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    color: var(--color-text);
    background-color: var(--color-primary);
    border: 2px solid var(--color-dark); /* Ajustado a --color-dark */
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.resumetBtn:hover {
    background-color: var(--color-secondary); /* Color para hover */
    border-color: var(--color-dark); /* Ajustado a --color-dark */
}

.resumetBtn:active {
    background-color: var(--color-dark); /* Efecto al hacer clic */
    transform: scale(0.95);
}

.heroImg {
    width: 40%;
    z-index: 1;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: 10px white;
    border-radius: 50%;
    object-fit: cover; /* Esto asegura que la imagen se ajuste correctamente */
    border: 5px solid #576cbc; /* Ajusta el grosor y el color del borde */
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    max-width: 350px;
    top: -128px;
    left: -10vw;
    border-radius: 764px; /* Ajustado para redondear completamente */
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

.buttonBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    max-width: 250px;
    top: 246px;
    right: -25vw;
    border-radius: 764px; /* Ajustado para redondear completamente */
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
    }

    .content {
        align-items: center;
    }

    .title {
        font-size: 68px;
        margin-bottom: 33px;
        margin-top: 33px;
    }
    
    .description {
        font-size: 30px;
        font-family: var(--font-roboto);
        margin-bottom: 5%;
        margin-right: 2%;
        text-align: center;
    }

}
